.Back {
    height: 50px;
    display: flex;
    flex-direction: row;
    font-weight: bolder;
}

.aussie-palette {
    font-size: 1.2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border-radius: 5px;
    width: 250px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 560px;
    color: rgb(255, 255, 255);
    background-color: black;
    position: absolute;
    top: 10px;

}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 550px;



    /* border: 2px solid black; */

}

.two {
    /* border: 2px solid black; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 150px;
    width: 260px;
    background-color: rgb(129, 236, 236)
}

.Three {
    /* border: 2px solid black; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 150px;
    width: 270px;
    background-color: rgb(116, 185, 255)
}

.Four {
    /* border: 2px solid black; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 150px;
    width: 270px;
    background-color: rgb(162, 155, 254)
}

.Five {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 270px;
    background-color: rgb(223, 230, 233)
}

.Six {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 260px;
    background-color: rgb(223, 230, 233)
}

.Seven {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 260px;
    background-color: rgb(0, 184, 148)
}

.Eight {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 270px;
    background-color: rgb(0, 206, 201)
}

.Nine {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 270px;
    background-color: rgb(9, 132, 227)
}

.Ten {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 270px;
    background-color: rgb(108, 92, 231)
}

.div11 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 260px;
    background-color: rgb(178, 190, 195)
}

.div12 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 260px;
    background-color: rgb(255, 234, 167);

}

.div13 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 270px;
    background-color: rgb(250, 177, 160);

}

.div14 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 270px;
    background-color: rgb(255, 118, 117);

}

.div15 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 270px;
    background-color: rgb(253, 121, 168);

}

.div16 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 260px;
    background-color: rgb(99, 110, 114);

}

.div17 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 260px;
    background-color: rgb(253, 203, 110);

}

.div18 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 270px;
    background-color: rgb(225, 112, 85);

}

.div19 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 270px;
    background-color: rgb(214, 48, 49);

}

.div20 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 270px;
    background-color: rgb(232, 67, 147);

}

.div21 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: 2px solid black; */
    height: 150px;
    width: 260px;
    background-color: rgb(45, 52, 54);
}